{% extends '_base.html' %}

{% block titulo %} - {{ licor.nombre }} {% endblock titulo %}

{% block contenido %}

    <div class="book-detail">
        <img class="portada" src="{{ licor.imagen.url }}" 
        alt="{{ licor.titulo }}" title="{{ licor.nombre }}" align="right">
        <h2><a href="">{{ licor.nombre }}</a></h2>
        <p>Autor: {{ licor.marca }}</p>
        <p>Precio: {{ licor.precio }}</p>
        <div>
            <h3>Categorías</h3>
            <ul>
                {% for categoria in licor.categorias.all %}
                <li>{{categoria.categoria}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Reseñas</h3>
            <ul>
                {% for resegna in licor.resegnas.all %}
                <li>{{resegna.resegna}}</li>
                <p>-{{resegna.autor}}</p>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock contenido %}