{% extends '_base.html' %}
{% load static %}

{% block titulo %} - Inicio {% endblock titulo %}

{% block contenido %}
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/image1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/image2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/image3.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/image4.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/image5.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/image6.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mt-5 text-left">
    <h1>Disfruta de la mejor seleccion de licor, con nuestros productos destacados!</h1>
    <p>La mejor calidad para los clientes de mas alto nivel, estos son los productos top de esta semana!</p>
</div>

<div class="container mt-5">
    <div class="row">
        {% for licor in licores %}
            <div class="col-md-2 col-sm-4 mb-4">
                <a href="{{ licor.get_absolute_url }}" class="text-decoration-none">
                    <div class="product-card card h-100">
                        <img class="portada card-img-top" src="{{ licor.imagen.url }}" alt="{{ licor.nombre }}" title="{{ licor.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ licor.nombre }}</h5>
                            <p class="card-text"><strong>Marca:</strong> {{ licor.marca }}</p>
                            <p class="card-text"><strong>Precio:</strong> ${{ licor.precio }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>No hay licores disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
