{% extends '_base.html' %}

{% block titulo %}- Búsqueda{% endblock titulo %}
{% block contenido %}
    <h1>Resultados de Búsqueda</h1>
    {% for libro in lista_libros %}
        <div>
            <img class="portada" src="{{ libro.portada.url }}" 
            alt="{{ libro.titulo }}" title="{{ libro.titulo }}" align="left">
            <h3><a href="{{ libro.get_absolute_url }}">{{ libro.titulo }}</a></h3>
            <p>Autor: {{ libro.autor }}</p>
            <p>Precio: ${{ libro.precio }}</p>
        </div>
    {% endfor %}
{% endblock contenido %}