{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} - Acceso {% endblock titulo %}

{% block contenido %}
<div class="login-page">
    <div class="login-container">
        <h4 class="text-center">Inicia sesión con tu cuenta</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block mt-3">ACCEDER</button>
            <div class="mt-3">
                <h3 class="d-inline">¿No tienes una cuenta aun?</h3>
                <a href="{% url 'account_signup' %}" class="btn-link2">¡Inscribirme!</a>
            </div>
        </form>
        <p><a href="{% url 'password_reset' %}">Olvidé mi Contraseña</a></p>
    </div>
</div>
{% endblock contenido %}
