{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
 - Cambiar Contraseña
{% endblock titulo %}

{% block contenido %}

<h2>  Cambiar Contraseña  </h2>

<p>  POR MOTIVOS DE SEGURIDAD , por favor Intruzca su antigua Contraseña , luego su nueva Contraseña 2 veces para verifar que la escribio correctamente </p>

<form method="post">{% csrf_token %}

    {{ form|crispy }}
    <input class = "btn btn-success" type = "submit" value = "Cambiar mi Contraseña">

</form>

{% endblock contenido %}